@font-face{
  font-family: "Bitstream Vera Sans";
  src: url(veramono.ttf)
}

*{
  margin:0;
  padding:0
}

html{
  height:100%;
}

body{
  height:100%;
  background: url("dg.jpg") repeat;
  font-family: "Bitstream Vera Sans",monospace;
  color:#e6e0db;
}

#distance{
  float:left;
  width:1px;
  height:50%;
  margin-bottom:-150px;
}

#main{
  width:570px;
  height:250px;
  margin:0 auto;
  position:relative;
  clear:left;
}

pre{
  padding:0;
  margin:0;
  font-family:"Bitstream Vera Sans",monospace;
}

h1{
  display:inline;
  font-weight:normal;
}

h1 span{
  display:none;
}

a{
  text-decoration:none;
  color:#a4c260;
}

a:hover{
  text-decoration:underline;
}

.code,h1{
  font-size:22px;
}

.code .t{
  color:#e6e0db;
}

.code .co{
  color:white;
}

.code .fl{
  color:#a4c260;
}

.code .r{
  color:#cb7832;
}

.code .s{
  color:#a4c260;
}

.code .sy{
  color:#6c9cbd;
}

.code .i{
  color:#737373;
}

.code .s:after{
  content: ",";
  color:white;
}

.code .s:last-child:after{
  content: "";
}
